<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-4">
  <input
    type="text"
    formControlName="nome"
    class="form-control mb-3"
    placeholder="Nome Completo"
    [class.is-invalid]="form.get('nome')?.touched && form.get('nome')?.invalid"
  />
  <div class="invalid-feedback" *ngIf="form.get('nome')?.errors?.['required']">
    Nome é obrigatório.
  </div>

  <input
    type="email"
    formControlName="email"
    class="form-control mb-3"
    placeholder="Email"
    [class.is-invalid]="
      form.get('email')?.touched && form.get('email')?.invalid
    "
  />
  <div
    class="invalid-feedback"
    *ngIf="form.get('email')?.touched && form.get('email')?.errors"
  >
    <div *ngIf="form.get('email')?.errors?.['required']">
      Email é obrigatório.
    </div>
    <div *ngIf="form.get('email')?.errors?.['email']">Email inválido.</div>
  </div>

  <input
    type="tel"
    formControlName="telefone"
    class="form-control mb-3"
    placeholder="Telefone"
  />

  <input
    type="text"
    formControlName="cpf"
    class="form-control mb-3"
    placeholder="CPF"
    [class.is-invalid]="form.get('cpf')?.touched && form.get('cpf')?.invalid"
  />
  <div class="invalid-feedback" *ngIf="form.get('cpf')?.errors?.['required']">
    CPF é obrigatório.
  </div>

  <select
    formControlName="tipo"
    class="form-select mb-3"
    (change)="atualizarTipoDoador($event)"
    [class.is-invalid]="form.get('tipo')?.touched && form.get('tipo')?.invalid"
  >
    <option value="" disabled selected>Tipo de Doador</option>
    <option value="individual">Pessoa Física</option>
    <option value="company">Pessoa Jurídica</option>
  </select>
  <div class="invalid-feedback" *ngIf="form.get('tipo')?.errors?.['required']">
    Tipo de doador é obrigatório.
  </div>

  <div *ngIf="doadorTipo === 'company'">
    <input
      type="text"
      formControlName="empresa"
      class="form-control mb-3"
      placeholder="Nome da Empresa"
    />
    <input
      type="text"
      formControlName="cnpj"
      class="form-control mb-3"
      placeholder="CNPJ"
    />
  </div>

  <div style="display: flex; justify-content: end">
    <button type="submit" class="btn btn-primary">Salvar alterações</button>
  </div>
</form>
