<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Responsável</th>
      <th scope="col">CPF</th>
      <th scope="col">Renda Familiar</th>
      <th scope="col">Moradores</th>
      <th scope="col">Gasto com Energia</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let familia of familias; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ familia.nomeResponsavel }}</td>
      <td>{{ familia.cpf }}</td>
      <td>{{ familia.rendaFamiliar | currency : 'BRL' }}</td>
      <td>{{ familia.numeroMoradores }}</td>
      <td>{{ familia.gastoComEnergia | currency : 'BRL' }}</td>
      <td>
        Status:
        <span class="badge rounded-pill text-bg-warning">{{
          familia?.status === 1
            ? 'Em Analise'
            : familia?.status === 2
            ? 'Apto'
            : ''
        }}</span>
      </td>
    </tr>
  </tbody>
</table>
