<div style="display: flex; justify-content: end">
  <button class="btn btn-primary me-2" type="button" (click)="doar()">
    Doar
  </button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Valor</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doacao of doacoes; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ doacao.valor | currency }}</td>
      <td>{{ doacao.data | date }}</td>
    </tr>
  </tbody>
</table>
