<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-4">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <input
        type="text"
        formControlName="nomeResponsavel"
        class="form-control mb-3"
        placeholder="Nome do Responsável"
        [class.is-invalid]="
          form.get('nomeResponsavel')?.touched &&
          form.get('nomeResponsavel')?.invalid
        " />
      <div
        class="invalid-feedback"
        *ngIf="form.get('nomeResponsavel')?.errors?.['required']">
        Nome é obrigatório.
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <input
        type="text"
        formControlName="cpf"
        class="form-control mb-3"
        placeholder="CPF"
        [class.is-invalid]="
          form.get('cpf')?.touched && form.get('cpf')?.invalid
        "
        mask="000.000.000-00" />
      <div
        class="invalid-feedback"
        *ngIf="form.get('cpf')?.errors?.['required']">
        CPF é obrigatório.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <input
        type="email"
        formControlName="email"
        class="form-control mb-3"
        placeholder="Email"
        [class.is-invalid]="
          form.get('email')?.touched && form.get('email')?.invalid
        " />
      <div
        class="invalid-feedback"
        *ngIf="form.get('email')?.touched && form.get('email')?.errors">
        <div *ngIf="form.get('email')?.errors?.['required']">
          Email é obrigatório.
        </div>
        <div *ngIf="form.get('email')?.errors?.['email']">Email inválido.</div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <input
        type="tel"
        formControlName="celular"
        class="form-control mb-3"
        placeholder="Celular"
        [class.is-invalid]="
          form.get('celular')?.touched && form.get('celular')?.invalid
        "
        mask="(00) 00000-0000" />
      <div
        class="invalid-feedback"
        *ngIf="form.get('celular')?.errors?.['required']">
        Celular é obrigatório.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-4">
      <input
        formControlName="rendaFamiliar"
        class="form-control mb-3"
        placeholder="Renda Familiar (R$)"
        [class.is-invalid]="
          form.get('rendaFamiliar')?.touched &&
          form.get('rendaFamiliar')?.invalid
        "
        currencyMask
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
      <div class="invalid-feedback" *ngIf="form.get('rendaFamiliar')?.errors">
        <div *ngIf="form.get('rendaFamiliar')?.errors?.['required']">
          Campo obrigatório.
        </div>
        <div *ngIf="form.get('rendaFamiliar')?.errors?.['min']">
          Valor inválido.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <input
        type="number"
        formControlName="numeroMoradores"
        class="form-control mb-3"
        placeholder="Número de Moradores"
        [class.is-invalid]="
          form.get('numeroMoradores')?.touched &&
          form.get('numeroMoradores')?.invalid
        " />
      <div class="invalid-feedback" *ngIf="form.get('numeroMoradores')?.errors">
        <div *ngIf="form.get('numeroMoradores')?.errors?.['required']">
          Campo obrigatório.
        </div>
        <div *ngIf="form.get('numeroMoradores')?.errors?.['min']">
          Deve ter ao menos 1 morador.
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <input
        formControlName="gastoComEnergia"
        class="form-control mb-3"
        placeholder="Gasto com Energia (R$)"
        [class.is-invalid]="
          form.get('gastoComEnergia')?.touched &&
          form.get('gastoComEnergia')?.invalid
        "
        currencyMask
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
      <div class="invalid-feedback" *ngIf="form.get('gastoComEnergia')?.errors">
        <div *ngIf="form.get('gastoComEnergia')?.errors?.['required']">
          Campo obrigatório.
        </div>
        <div *ngIf="form.get('gastoComEnergia')?.errors?.['min']">
          Valor inválido.
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-4">
      <input
        type="text"
        formControlName="cep"
        class="form-control mb-3"
        placeholder="CEP"
        [class.is-invalid]="
          form.get('cep')?.touched && form.get('cep')?.invalid
        "
        mask="00000-000" />
      <div
        class="invalid-feedback"
        *ngIf="form.get('cep')?.errors?.['required']">
        CEP é obrigatório.
      </div>
    </div>

    <div class="col-sm-12 col-md-8">
      <input
        type="text"
        formControlName="rua"
        class="form-control mb-3"
        placeholder="Rua"
        [class.is-invalid]="
          form.get('rua')?.touched && form.get('rua')?.invalid
        " />
      <div
        class="invalid-feedback"
        *ngIf="form.get('rua')?.errors?.['required']">
        Rua é obrigatória.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <input
        type="text"
        formControlName="bairro"
        class="form-control mb-3"
        placeholder="Bairro"
        [class.is-invalid]="
          form.get('bairro')?.touched && form.get('bairro')?.invalid
        " />
      <div
        class="invalid-feedback"
        *ngIf="form.get('bairro')?.errors?.['required']">
        Bairro é obrigatório.
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <input
        type="text"
        formControlName="cidade"
        class="form-control mb-3"
        placeholder="Cidade"
        [class.is-invalid]="
          form.get('cidade')?.touched && form.get('cidade')?.invalid
        " />
      <div
        class="invalid-feedback"
        *ngIf="form.get('cidade')?.errors?.['required']">
        Cidade é obrigatória.
      </div>
    </div>

    <div class="col-sm-12 col-md-2">
      <input
        type="text"
        formControlName="uf"
        class="form-control mb-3 text-uppercase"
        placeholder="UF"
        maxlength="2"
        [class.is-invalid]="
          form.get('uf')?.touched && form.get('uf')?.invalid
        " />
      <div
        class="invalid-feedback"
        *ngIf="form.get('uf')?.errors?.['required']">
        UF é obrigatória.
      </div>
    </div>
  </div>

  <textarea
    class="form-control mb-3"
    formControlName="situacaoVulnerabilidade"
    placeholder="Situação de Vulnerabilidade"
    [class.is-invalid]="
      form.get('situacaoVulnerabilidade')?.touched &&
      form.get('situacaoVulnerabilidade')?.invalid
    "></textarea>

  <div
    class="invalid-feedback"
    *ngIf="form.get('situacaoVulnerabilidade')?.errors?.['required']">
    Descreva a situação de vulnerabilidade.
  </div>

  <div style="display: flex; justify-content: end">
    <button type="submit" class="btn btn-primary">Salvar alterações</button>
  </div>
</form>
