<header class="layout-header">
    <h1>Lumen Solar</h1>
    <nav>
      <a routerLink="/home">Início</a>
      <a routerLink="/familias">Famílias</a>
      <a routerLink="/doadores">Doadores</a>
      <a routerLink="/accounts">Minha Conta</a>
    </nav>
  </header>
  <main class="layout-main">
    <router-outlet></router-outlet>
  </main>
  <footer class="layout-footer">
    <p>Contato: contato@lumensolar.org.br | (19) 0000-0000</p>
    <p>Localização: Araras – São Paulo, Brasil</p>
    <p>Links úteis: <a href="#">Termos de Uso</a> | <a href="#">Política de Privacidade</a></p>
  </footer>