<nav class="navbar navbar-expand-lg fixed-top border-bottom">
  <div class="container">
    <a class="navbar-brand me-auto" routerLink="/">
      <img src="assets/images/logo.png" alt="Lumen Solar" height="40" />
    </a>

    <div *ngIf="user; else loginButton" class="dropdown">
      <button
        class="btn btn-outline-primary dropdown-toggle me-2"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        {{ user.email || 'Minha Conta' }}
      </button>
      <ul class="dropdown-menu">
        <li>
          <button class="dropdown-item" ngbDropdownItem (click)="goToAccount()">
            Acessar Conta
          </button>
        </li>
        <li>
          <a class="dropdown-item text-danger" (click)="logout()">Sair</a>
        </li>
      </ul>
    </div>

    <ng-template #loginButton>
      <button class="btn btn-primary me-2" type="button" (click)="login()">
        Auxílio ou Doação
      </button>
    </ng-template>
  </div>
</nav>
<div style="height: 67px"></div>

<router-outlet></router-outlet>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <img
          src="assets/images/logo.png"
          class="mb-4"
          alt="Lumen Solar"
          height="40" />
        <p>
          Reduzindo desigualdades energéticas e promovendo inclusão social
          através da energia limpa.
        </p>
        <p class="mb-0 small">
          &copy; 2023 Lumen Solar. Todos os direitos reservados.
        </p>
        <div class="mt-4">
          <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="mb-4">Legal</h5>
        <ul class="list-unstyled footer-links">
          <li class="mb-2"><a routerLink="/termos-de-uso">Termos de Uso</a></li>
          <li class="mb-2">
            <a routerLink="/politica-de-privacidade">Política de Privacidade</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
