<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Auxílio ou Doação</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="onFechar()"></button>
</div>

<!-- Tabs -->
<div class="modal-body">
  <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <button ngbNavLink>Login</button>
      <ng-template ngbNavContent>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              id="email"
              type="email"
              class="form-control"
              formControlName="email"
              [class.is-invalid]="email.touched && email.invalid" />
            <div class="invalid-feedback" *ngIf="email.touched && email.errors">
              <div *ngIf="email.errors['required']">O email é obrigatório.</div>
              <div *ngIf="email.errors['email']">Email inválido.</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input
              id="senha"
              type="password"
              class="form-control"
              formControlName="senha"
              [class.is-invalid]="senha.touched && senha.invalid" />
            <div class="invalid-feedback" *ngIf="senha.touched && senha.errors">
              <div *ngIf="senha.errors['required']">A senha é obrigatória.</div>
              <div *ngIf="senha.errors['minlength']">
                A senha deve ter no mínimo
                {{ senha.errors['minlength'].requiredLength }}
                caracteres.
              </div>
            </div>
          </div>

          <!-- Checkbox -->
          <!-- <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="lembrar"
              formControlName="lembrar"
            />
            <label class="form-check-label" for="lembrar">Lembrar de mim</label>
          </div> -->

          <!-- Botão -->
          <button type="submit" class="btn btn-primary w-100">Entrar</button>

          <div
            style="
              display: flex;
              justify-content: center;
              padding: 8px;
              color: rgb(213 39 39);
            "
            *ngIf="erro">
            {{ erro }}
          </div>

          <!-- <div class="text-center mt-3">
            <a href="#" class="text-muted">Esqueceu sua senha?</a>
          </div> -->
        </form>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Cadastro</a>
      <ng-template ngbNavContent>
        <div class="text-center mb-4">
          <div class="d-flex justify-content-center gap-3 mt-4">
            <button
              class="btn"
              [ngClass]="
                formSelecionado === 'donor'
                  ? 'btn-primary'
                  : 'btn-outline-primary'
              "
              (click)="selectForm('donor')">
              <i class="fas fa-hand-holding-heart me-2"></i>Quero Doar
            </button>
            <button
              class="btn"
              [ngClass]="
                formSelecionado === 'family'
                  ? 'btn-primary'
                  : 'btn-outline-primary'
              "
              (click)="selectForm('family')">
              <i class="fas fa-home me-2"></i>Sou Família
            </button>
          </div>
        </div>

        <!-- Doador Form -->
        <form
          [formGroup]="formDoador"
          (ngSubmit)="onSubmitDoador()"
          *ngIf="formSelecionado === 'donor'">
          <input
            type="text"
            formControlName="nome"
            class="form-control mb-3"
            placeholder="Nome Completo"
            [class.is-invalid]="
              formDoador.get('nome')?.touched && formDoador.get('nome')?.invalid
            " />
          <div
            class="invalid-feedback"
            *ngIf="formDoador.get('nome')?.errors?.['required']">
            Nome é obrigatório.
          </div>

          <input
            type="email"
            formControlName="email"
            class="form-control mb-3"
            placeholder="Email"
            [class.is-invalid]="
              formDoador.get('email')?.touched &&
              formDoador.get('email')?.invalid
            " />
          <div
            class="invalid-feedback"
            *ngIf="
              formDoador.get('email')?.touched &&
              formDoador.get('email')?.errors
            ">
            <div *ngIf="formDoador.get('email')?.errors?.['required']">
              Email é obrigatório.
            </div>
            <div *ngIf="formDoador.get('email')?.errors?.['email']">
              Email inválido.
            </div>
          </div>

          <input
            type="tel"
            formControlName="celular"
            class="form-control mb-3"
            placeholder="Celular" />

          <input
            type="text"
            formControlName="cpf"
            class="form-control mb-3"
            placeholder="CPF"
            [class.is-invalid]="
              formDoador.get('cpf')?.touched && formDoador.get('cpf')?.invalid
            " />
          <div
            class="invalid-feedback"
            *ngIf="formDoador.get('cpf')?.errors?.['required']">
            CPF é obrigatório.
          </div>

          <select
            formControlName="tipo"
            class="form-select mb-3"
            (change)="atualizarTipoDoador($event)"
            [class.is-invalid]="
              formDoador.get('tipo')?.touched && formDoador.get('tipo')?.invalid
            ">
            <option [value]="null" disabled selected>Tipo de Doador</option>
            <option [value]="1">Pessoa Física</option>
            <option [value]="2">Pessoa Jurídica</option>
          </select>
          <div
            class="invalid-feedback"
            *ngIf="formDoador.get('tipo')?.errors?.['required']">
            Tipo de doador é obrigatório.
          </div>

          <div *ngIf="doadorTipo === 2">
            <input
              type="text"
              formControlName="empresa"
              class="form-control mb-3"
              placeholder="Nome da Empresa" />
            <input
              type="text"
              formControlName="cnpj"
              class="form-control mb-3"
              placeholder="CNPJ" />
          </div>

          <input
            type="password"
            formControlName="senha"
            class="form-control mb-3"
            placeholder="Senha"
            [class.is-invalid]="
              formDoador.get('senha')?.touched &&
              formDoador.get('senha')?.invalid
            " />
          <div class="invalid-feedback" *ngIf="formDoador.get('senha')?.errors">
            <div *ngIf="formDoador.get('senha')?.errors?.['required']">
              Senha é obrigatória.
            </div>
            <div *ngIf="formDoador.get('senha')?.errors?.['minlength']">
              Senha deve ter no mínimo
              {{ formDoador.get('senha')?.errors?.['minlength'].requiredLength }}
              caracteres.
            </div>
          </div>

          <input
            type="password"
            formControlName="confirmarSenha"
            class="form-control mb-3"
            placeholder="Confirme a Senha"
            [class.is-invalid]="
              formDoador.get('confirmarSenha')?.touched &&
              formDoador.get('confirmarSenha')?.invalid
            " />
          <div
            class="invalid-feedback"
            *ngIf="formDoador.get('confirmarSenha')?.errors?.['required']">
            Confirmação obrigatória.
          </div>

          <div class="form-check mb-3">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="termos"
              id="termos" />
            <label class="form-check-label" for="termos">
              Concordo com os Termos
            </label>
            <div
              class="invalid-feedback d-block"
              *ngIf="
                formDoador.get('termos')?.touched &&
                formDoador.get('termos')?.invalid
              ">
              Você precisa aceitar os termos.
            </div>
          </div>

          <button type="submit" class="btn btn-primary w-100">
            Cadastrar como Doador
          </button>
        </form>

        <!-- Familia Form -->
        <form
          [formGroup]="formFamilia"
          (ngSubmit)="onSubmitFamilia()"
          *ngIf="formSelecionado === 'family'">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <input
                type="text"
                formControlName="nome"
                class="form-control mb-3"
                placeholder="Nome do Responsável"
                [class.is-invalid]="
                  formFamilia.get('nome')?.touched &&
                  formFamilia.get('nome')?.invalid
                " />
              <div
                class="invalid-feedback"
                *ngIf="formFamilia.get('nome')?.errors?.['required']">
                Nome é obrigatório.
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <input
                type="text"
                formControlName="cpf"
                class="form-control mb-3"
                placeholder="CPF"
                [class.is-invalid]="
                  formFamilia.get('cpf')?.touched &&
                  formFamilia.get('cpf')?.invalid
                " />
              <div
                class="invalid-feedback"
                *ngIf="formFamilia.get('cpf')?.errors?.['required']">
                CPF é obrigatório.
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-6">
              <input
                type="email"
                formControlName="email"
                class="form-control mb-3"
                placeholder="Email"
                [class.is-invalid]="
                  formFamilia.get('email')?.touched &&
                  formFamilia.get('email')?.invalid
                " />
              <div
                class="invalid-feedback"
                *ngIf="
                  formFamilia.get('email')?.touched &&
                  formFamilia.get('email')?.errors
                ">
                <div *ngIf="formFamilia.get('email')?.errors?.['required']">
                  Email é obrigatório.
                </div>
                <div *ngIf="formFamilia.get('email')?.errors?.['email']">
                  Email inválido.
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <input
                type="tel"
                formControlName="celular"
                class="form-control mb-3"
                placeholder="Celular"
                [class.is-invalid]="
                  formFamilia.get('celular')?.touched &&
                  formFamilia.get('celular')?.invalid
                " />
              <div
                class="invalid-feedback"
                *ngIf="formFamilia.get('celular')?.errors?.['required']">
                Celular é obrigatório.
              </div>
            </div>
          </div>

          <div class="row"></div>
          <div class="col-sm-12 col-md-6"></div>

          <div class="row">
            <div class="col-sm-12 col-md-4">
              <input
                type="number"
                formControlName="renda"
                class="form-control mb-3"
                placeholder="Renda Familiar (R$)"
                [class.is-invalid]="
                  formFamilia.get('renda')?.touched &&
                  formFamilia.get('renda')?.invalid
                " />
              <div
                class="invalid-feedback"
                *ngIf="formFamilia.get('renda')?.errors">
                <div *ngIf="formFamilia.get('renda')?.errors?.['required']">
                  Campo obrigatório.
                </div>
                <div *ngIf="formFamilia.get('renda')?.errors?.['min']">
                  Valor inválido.
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <input
                type="number"
                formControlName="moradores"
                class="form-control mb-3"
                placeholder="Número de Moradores"
                [class.is-invalid]="
                  formFamilia.get('moradores')?.touched &&
                  formFamilia.get('moradores')?.invalid
                " />
              <div
                class="invalid-feedback"
                *ngIf="formFamilia.get('moradores')?.errors">
                <div *ngIf="formFamilia.get('moradores')?.errors?.['required']">
                  Campo obrigatório.
                </div>
                <div *ngIf="formFamilia.get('moradores')?.errors?.['min']">
                  Deve ter ao menos 1 morador.
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <input
                type="number"
                formControlName="energia"
                class="form-control mb-3"
                placeholder="Gasto com Energia (R$)"
                [class.is-invalid]="
                  formFamilia.get('energia')?.touched &&
                  formFamilia.get('energia')?.invalid
                " />
              <div
                class="invalid-feedback"
                *ngIf="formFamilia.get('energia')?.errors">
                <div *ngIf="formFamilia.get('energia')?.errors?.['required']">
                  Campo obrigatório.
                </div>
                <div *ngIf="formFamilia.get('energia')?.errors?.['min']">
                  Valor inválido.
                </div>
              </div>
            </div>
          </div>

          <textarea
            class="form-control mb-3"
            formControlName="vulnerabilidade"
            placeholder="Situação de Vulnerabilidade"
            [class.is-invalid]="
              formFamilia.get('vulnerabilidade')?.touched &&
              formFamilia.get('vulnerabilidade')?.invalid
            "></textarea>

          <div
            class="invalid-feedback"
            *ngIf="formFamilia.get('vulnerabilidade')?.errors?.['required']">
            Descreva a situação de vulnerabilidade.
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-6">
              <input
                type="password"
                formControlName="senha"
                class="form-control mb-3"
                placeholder="Senha"
                [class.is-invalid]="
                  formFamilia.get('senha')?.touched &&
                  formFamilia.get('senha')?.invalid
                " />
              <div
                class="invalid-feedback"
                *ngIf="formFamilia.get('senha')?.errors">
                <div *ngIf="formFamilia.get('senha')?.errors?.['required']">
                  Senha é obrigatória.
                </div>
                <div *ngIf="formFamilia.get('senha')?.errors?.['minlength']">
                  Mínimo
                  {{ formFamilia.get('senha')?.errors?.['minlength'].requiredLength }}
                  caracteres.
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <input
                type="password"
                formControlName="confirmarSenha"
                class="form-control mb-3"
                placeholder="Confirme a Senha"
                [class.is-invalid]="
                  formFamilia.get('confirmarSenha')?.touched &&
                  formFamilia.get('confirmarSenha')?.invalid
                " />
              <div
                class="invalid-feedback"
                *ngIf="formFamilia.get('confirmarSenha')?.errors?.['required']">
                Confirmação obrigatória.
              </div>
            </div>
          </div>

          <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="checkbox"
              formControlName="termos"
              id="termos-familia" />
            <label class="form-check-label" for="termos-familia"
              >Concordo com os Termos</label
            >
            <div
              class="invalid-feedback d-block"
              *ngIf="
                formFamilia.get('termos')?.touched &&
                formFamilia.get('termos')?.invalid
              ">
              Você deve aceitar os termos.
            </div>
          </div>

          <button type="submit" class="btn btn-primary w-100">
            Cadastrar como Família
          </button>
        </form>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
